body {
  width: 1500px;
  margin:auto;
}
.title {
  text-align:center;
  font-size: 75px;
}
ul {
  list-style:none;
}
li  {
  font-size: 20px;
  font-style: oblique;
}
#navBar {
  text-align: center;
  margin-left:-10px;
  width: 100%;
  height: 27px;
  padding: 10px;
  background-color: #95D9DA;
  border-radius: 5px;
}
#topNavLink {
  font-size: 25px;
  text-decoration: none;
  padding: 10px;
  color:black;
}
#topNavLink:hover {
  transition: 0.5s;
  background-color: #CDECED;
}
#footer {
  padding:5px;
  background-color: #95D9DA;
  border-radius: 5px;
  max-width: inherit;
  max-height: 110px;
}
#announcements {
  display: inline-block;
  margin: auto;
  padding: 5px;
  background-color: #95D9DA;
  border-radius: 10px;
  max-width: 600px;
}
.AnnounceHeading {
  font-size: 30px;
  text-align: center;
}
#ladderTable {
  margin: auto;
  padding:5px;
  border-radius: 10px;
  text-align: center;
  background-color: #95D9DA;
  max-width: 600px;
}
.ladderHeading {
  font-size: 30px;
}
.aboutVolleyballHeading {
  font-size: 30px;
  text-align: center;
}
#aboutVolleyball {
  margin: auto;
  font-size: 20px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  background-color: #95D9DA;
  border-radius: 10px;
  max-width: 1000px;
}
.whoCanPlayHeading {
  font-size: 30px;
  text-align: center;
}
#whoPlayVolleyball {
  margin: auto;
  font-size: 20px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  background-color: #95D9DA;
  border-radius: 10px;
  max-width: 800px;
}
.linksHeading {
  font-size: 20px;
  text-align: center;
}
#links {
  margin: auto;
  padding-top: 1px;
  padding-left: 10px;
  padding-bottom: 1px;
  font-size: 15px;
  background-color: #95D9DA;
  border-radius: 10px;
  max-width: 800px;
}
.spike {
  border-radius: 5px;
  max-width: 500px;
  max-height: 500px;
}
#firstContent {
  display: flex;
  flex-direction: row;
}
#secondContent {
  align-items: center;
  display: flex;
  flex-direction: row;
}
